#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 480px) {
  #root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
}
