/* src/components/ProductDetails.css */

.product-details {
  padding: 2rem;
  color: #fff;
}

.back-btn {
  background: #ff8800;
  color: #000000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 1rem;
  transition: 0.2s ease;
}

.back-btn:hover {
  background: #e67600;
}

.image-gallery-container{
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-gallery {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  margin-bottom: 2rem;
}

.image-gallery img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  flex-shrink: 0;
  transition: transform 0.2s ease;
}

.image-gallery img:hover {
  transform: scale(1.05);
}

.details-info {
  text-align: left;
}

.details-info h2 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  color: #ff8800;
}

.price {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ff8800;
}

.description {
  color: #000000;
  margin-top: 0.5rem;
  font-size: 1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.quantity-cart{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  box-sizing: border-box;
}